.pathDiv {
    height: 15px;
    font-size: 15px;
    color: rgb(0, 75, 150);
    padding: 10px;
    text-decoration: none;    
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.pathDivLink {
    text-decoration: none;
    color: rgb(0, 75, 150);
    font-weight: bold;
}

.pathDivLink::before {
    content: "/ "
}
