.infoDialog {
    position: fixed;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}


.infoDialogMain {
    background-color: blanchedalmond;
    margin: auto;
    padding: 0px;
    border: 1px solid white;
    width: 300px;
    min-height: 200px;
}

.infoDialogMessage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoDialogBody {
    display: grid;    
    padding: 10px;
    height: 180px;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    text-transform: uppercase;
}