.postDiv {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100%;
}

.postDivHeader {
    height: 30px;
    background-color: rgb(0, 75, 150);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
}

.postArea {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 1px solid gray;
    font-size: 15px;
    border-spacing: 15px
}

.postAdditionalInfo {
    max-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 1.4;
}

.postButtons {
    height: 25px;
    width: 55px;
    font-size: 10px;
}

.postButtonsCenter {
    height: 25px;
    width: 55px;
    font-size: 10px;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.buttonsDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.postLikesDiv {
    color: rgb(0, 75, 150);
    font-weight: bold;
}

.postLikesDiv:hover > .whoLike {
    display: block;
}

.whoLike {
    border: 1px solid black;
    display: none;
    position: absolute;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    background-color: white;
    color: black;
    line-height: 1.4;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#editPostText {
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.editPostButton {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color: rgb(0, 75, 150);
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

.editPostButton:hover, .smallBlueButton:hover  {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.editPostButton:active, .smallBlueButton:active {
	position:relative;
	top:1px;
}

#cancelUpdatePostButton {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
    border:1px solid #942911;
    text-shadow:0px 1px 0px #854629;
}



#cancelUpdatePostButton:hover, .smallRedButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}

#cancelUpdatePostButton:active, .smallRedButton:active {
	position:relative;
	top:1px;
}


.smallBlueButton {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color: rgb(0, 75, 150);
	text-shadow:0px 1px 0px #154682;
	border:1px solid #124d77;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	text-decoration:none;
    height: 25px;
    width: 55px;
}


.smallRedButton {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
    border:1px solid #942911;
    text-shadow:0px 1px 0px #854629;
    border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	text-decoration:none;
    height: 25px;
    width: 55px;
}

.smallYellowButton {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:3px;
	border:1px solid #ffaa22;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:13px;
	text-decoration:none;
    height: 25px;
    width: 55px;
}
.smallYellowButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.smallYellowButton:active {
	position:relative;
	top:1px;
}
