.imagesDiv {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.homeImg {
    width: 22%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black, 0 0 25px lightblue, 0 0 5px black;
}

.homeTopDiv {
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 25px;
}

.welcomeDiv {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    
}