.divUserBusinessCard {
    padding: 10px;
    width: 200px;
    line-height: 1.4;
    font-size: 15px;
}

.userInfoGroup {
    
    color: red;
    font-size: 12px;
}

.linkStyleUser {
    text-decoration: none;
    color: blue;
    font-size: 20px;
}


.deletedUserDiv {
    font-weight: bold;
    color: white;
    background-color: red;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
}