.banListMain {
    margin: 20px;
    background-color: white;
    
}

.banListTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.banListTable th {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: left;
    background-color: rgb(0, 75, 150);
    color: white;
}

.banListTable td {
    border: 0px solid black;
    padding: 10px;
}

.banListTable tr:nth-child(even){background-color: gainsboro;}