.userDetailsDiv {
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

.userDetMain {
    display: inline-block;
}

.userTitle {
    font-size: 25px;
    font-weight: bold;
    padding-left: 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    color: rgb(0, 75, 150);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userTitleBanned {
    font-size: 25px;
    font-weight: bold;
    padding-left: 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfoTable td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.secondCol {
    padding-left: 12px;
}