.dialogDiv {	
	width: 598px;
	height: 398px;
	border: 1px solid black;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.dialogTop {
	font-family: Simo;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	height: 29px;
	border-bottom: 1px solid black;
	background-color: red;
}

.dialogTop + div {
	font-size: 20px;
	padding: 10px;
	height: 250px;
}

.dialogBottom {
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialogButton {
	width: 100px;
	height: 30px;
	cursor: pointer;
}

.errorBoxMessage {
	display: flex;
	align-items: center;
	justify-content: center;
}