.footerDiv {
    background-color: rgb(0, 75, 150);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 20px;
    border-top: 1px solid black;
    text-align: center;
    margin-top: 20px;
}