.categoryTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.categoryTable td {
    border: 0px solid black;
    padding: 10px;
}

.categoryTable td.centerTd {
    border: 0px solid black;
    padding: 10px;
    text-align: center;
}

.categoryTable tr:nth-child(even){background-color: gainsboro;}

/* .categoryTable tr:hover {background-color: bisque;} */

.categoryTable th {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: left;
    background-color: rgb(0, 75, 150);
    color: white;
}

.categoryTable th.centerTh {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 75, 150);
    color: white;
}

.tableDiv {
    margin: 10px;
    background-color: white;
    border: 1px solid black;
}

.linkStyle {
    text-decoration: none;
    color: black;
}

.testClass {
    text-decoration: none;
    background-color: cadetblue;
}

.inputsForChange {
    font-size: 17px;
    height: 22px;
    width: 60%;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
}

.redCancelIcon {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
    border:1px solid #942911;
    text-shadow:0px 1px 0px #854629;
    border-radius:3px;
	cursor:pointer;
	color:white;
	font-weight: bold;
	font-size:25px;
    height: 26px;
    width: 26px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redCancelIcon:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}

.redCancelIcon:active {
	position:relative;
	top:1px;
}

.editGroup {
    display: flex;
    align-items: center;

}

.blueOkIcon {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color: rgb(0, 75, 150);
	text-shadow:0px 1px 0px #154682;
	border:1px solid #124d77;
    cursor:pointer;
	color:white;
	font-weight: bold;
	font-size:25px;
    height: 26px;
    width: 26px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueOkIcon:hover  {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}

.blueOkIcon:active {
	position:relative;
	top:1px;
}
