.modal {
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}


.modal-content {
    background-color: blanchedalmond;
    margin: auto;
    padding: 0px;
    border: 1px solid white;
    width: 30%;
}

.lockDialogTop {
    background-color: rgb(0, 75, 150);
    border-bottom: 1px solid white;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.lockDialogBody {
    padding: 10px;
}

.close {
    color: white;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

#lockReason {
    margin-left: 10px;
}

.overDialogButton {
    height: 25px;
}

