.usersTopDiv {
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}


.searchInput {
    width: 100%;
    padding: 10px;
    padding-right: 0px;
    border: 1px solid black;
    border-right: 0;
    border-radius: 3px 0px 0px 3px;
    height: 15px;
}

.searchButton {
    padding: 0;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color: rgb(0, 75, 150);
	text-shadow:0px 1px 0px #154682;
	border:1px solid #124d77;
	/* border-radius:3px; */
    border-radius: 0px 3px 3px 0px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	text-decoration:none;
    height: 37px;
    width: 100px;
    margin: 0;
}


.searchButton:hover  {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}

.searchButton:active {
	position:relative;
	top:1px;
}

.searchTd {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.usersBottomDiv {
    margin: 20px 20px 0px 20px;
    background-color: white;
}

.tableCaption {
    /* border: 1px solid black; */
    /* background-color: blanchedalmond; */
    background-color: lightblue;
    border-bottom: 0;
    height: 32px;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}

.letterButton {
    text-align: center;
    cursor: pointer;
}

.letterButton:hover {
    color: red;
}