@font-face {
    font-family: Simo;
    src: url('../../Fonts/dusha-v5-regular.ttf');
}


@font-face {
    font-family: Elka;
    src: url('../../Fonts/BankGothic\ Regular.ttf');
}

.headerDiv {
    padding: 10px;
    height: 60px;
    background-color: rgb(0, 75, 150);
    color: white;
    border-bottom: 1px solid black;
    text-decoration: none;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;
}

.linkStyled {
    text-decoration: none;
    color: white;
}

.titleDiv {
    font-family: Simo;
    font-size: 46px;
}

.sloganDiv {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: Elka;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.loginDiv {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.loginDialog {
    position: fixed;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}


.loginDialogMain {
    background-color: blanchedalmond;
    margin: auto;
    padding: 0px;
    border: 1px solid white;
    width: 400px;
}


.loginInputs {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.col-40 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-60 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


.userNameBorderOld {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
    border:1px solid #942911;
    text-shadow:0px 1px 0px #854629;
    border-radius:3px;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	text-decoration:none;
    height: 25px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.userNameBorder {
	box-shadow:inset 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:3px;
	border:1px solid #333029;
	display:inline-block;
	
	color:black;
	font-family:Arial;
	font-size:13px;
	
	text-decoration:none;
    height: 25px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.userNameBorder:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}


.col-repeat {
    float: left;
    width: 40%;
    margin-top: 6px;
}

.col-input {
    float: left;
    width: 60%;
    margin-top: 6px;
}

.registerDialogMain {
    background-color: blanchedalmond;
    margin: auto;
    padding: 0px;
    border: 1px solid white;
    width: 450px;
}