.postDialogMain {
    background-color: blanchedalmond;
    margin: auto;
    padding: 0px;
    border: 1px solid white;
    width: 40%;
}

#newPostText, #newPostTitle {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; 
}

.newPostLabels {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

.errorDiv {
    color: red;
    text-align: center;
    padding: 10px;
}