.navigationDiv {
    height: 35px;
    font-size: 14px;
    color: white;
    text-decoration: none;    
    display: flex;
    align-items: center;
    background-color: rgb(0, 75, 150);
    border-bottom: 1px solid black;
    justify-content: flex-start;
    font-family: Elka;
}

.menuButtonDiv {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.menuButtonDiv:hover {
    cursor: pointer;
    background-color: rgb(39, 110, 182);
    
}

.borderSpan {
    width: 0px;
    height: 20px;
    border-left: 1px solid white;
}